.own-listings-section{
    display: flex;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
    height: 150px;
    border-radius: 10px;
    width: 900px;
    margin: 0 auto;
    margin-top: 30px; 
}

.host-menu-car-img{
    width: 230px;
    max-width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 150px;
    object-fit: cover;
}

.add-new-listing{
    margin-top: 100px;
    font-size: 25px;
    color: black;
    text-decoration: none;
}

.add-new-listing:hover{
  text-decoration: underline;
}

.upcoming-past-add{
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: normal;
}

.upcoming-past-add:hover{
    text-decoration: underline;
  }


.car-details-host-menu{
    margin-top: 20px;
    margin-left: 50px;
    text-align: left;
    font-size: 18px;
}
